body{
    background-color: #d8d0b6;
    /* border: solid 2px white; */
}
.navbar{
    margin-top: 30px;
    margin-left: 10px;
}
.navbar a{
    margin-left: 10px;
    color: #200f03;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='brown' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.navbar-toggler:focus{
    box-shadow:none;
}
#L{
    width:70px;
    height:70px;
}
#cont{
    /* background-color: #200f03; */
    background-color: white;
    margin-top: 10px;
}
/* #Img1{
    /* margin-top: 90px; 
    
} */
.col{
    padding:10px;
}
/* #Img2{
    justify-content: center;
} */